@model IEnumerable<Ogrenci>
@{
    ViewData["Title"] = "Öğrenci Listesi";
}
    <ul>
        @foreach (var ogr in Model)
        {
            <li>@ogr.Ad @ogr.Soyad</li>
        }
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Ogrenci Id</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ogrenciid</td>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                <td><a class="btn btn-sm btn-primary" href="/Ogrenci/StudentDetail/@item.Ogrenciid">Detay</a>  <a class="btn btn-sm btn-danger" href="/Ogrenci/OgrenciSil/@item.Ogrenciid" onclick="return confirm('Emin misiniz?')">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>

